<template>
  <div class="container">
    <h2>Configuration file generator</h2>
    <div class="row">
      <div class="col-6"
        v-for='(section, indexSection) in sections'
        :key='indexSection'>
        <h3>{{ indexSection }} - {{ section.name }}</h3>
        <div class="form-group"
          v-for='(item, index) in section.fields'
          :key='index'>
          <label :for="item.code">
            {{ item.label }}:
            <span
              v-if='item.help'
              v-b-tooltip.hover :title="item.help"
              class="help">
              ?
            </span>
          </label>
          <input :type="item.type" class="form-control" :id="item.code" :name="item.code" v-model="item.default">
        </div>
      </div>
    </div>
    <div class="row">
      <button v-on:click="genFile">Generate file</button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ConfGen',
  data () {
    return {
      sections: [
        {
          name: 'Problem information',
          fields: [
            {
              label: 'dimension',
              type: 'number',
              code: 'dimension',
              help: 'the number of dimensions in your problem',
              default: 1
            },
            {
              label: 'frequency_fourier',
              type: 'text',
              code: 'frequency_fourier',
              default: '50,100,150'
            },
            {
              label: 'frequency_laplace',
              type: 'number',
              code: 'frequency_laplace',
              default: '0'
            }
          ]
        },
        {
          name: 'Acquisition',
          fields: [
            {
              label: 'file_acquisition_source',
              type: 'text',
              code: 'file_acquisition_source',
              default: './acquisition/source_1.txt'
            },
            {
              label: 'file_acquisition_receiver',
              type: 'text',
              code: 'file_acquisition_receiver',
              default: './acquisition/receiver.txt'
            },
            {
              label: 'source_type',
              type: 'text',
              code: 'source_type',
              default: 'dirac'
            }
          ]
        }
      ]
    }
  },
  methods: {
    genFile: function (event) {
      console.log('test')
      var FileSaver = require('file-saver')

      var blob = new Blob(this.toStringArray(), {type: 'text/plain;charset=utf-8'})
      FileSaver.saveAs(blob, 'configuration.txt')
    },
    toStringArray: function () {
      var retour = []
      for (var i = 0; i < this.sections.length; i++) {
        var section = this.sections[i]
        retour.push('# ' + section.name + '\r\n')
        for (var j = 0; j < section.fields.length; j++) {
          var field = section.fields[j]
          retour.push(field.code + ':' + field.default + '\r\n')
        }
      }
      return retour
    }
  },
  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .help {
    background-color: green;
    padding: 0px 5px 0px 5px;
    color: white;
    font-weight: bold;
  }
</style>
